body {
  background: white; }

header {
  background: white;
  height: 120px;
  width: auto;
  padding-top: 20px; }

li#rata {
  text-align: center; }

.row.container {
  padding: 25px; }

.columns.hide-for-medium.small-3 {
  text-align: center;
  padding-top: 20px; }

div#example-menu {
  height: 100%;
  background: white; }

div#example-menu {
  padding: 0px;
  position-top: -16px; }

.top-bar, .top-bar ul {
  background: white; }

.top-bar .menu > li:not(.menu-text) > a {
  padding: 1rem;
  color: #0E3E71;
  font-weight: normal; }

.top-bar .menu li:not(:last-child) {
  border-right: 0px solid #4e4e4e; }

.top-bar-left.hide-for-small-only {
  padding-left: 20px;
  padding-top: 20px; }

.top-bar-right {
  padding-top: 40px;
  padding-right: 40px; }

.headermenu a, .headermenu p {
  color: #0E3E71;
  font-weight: bold; }

#card2Div {
  padding-top: 0px; }

#article1 {
  max-width: 100%;
  background: -moz-linear-gradient(top, #9cc3e2 0%, #89bde6 62%, rgba(135, 188, 230, 0.7) 68%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #9cc3e2 0%, #89bde6 62%, rgba(135, 188, 230, 0.7) 68%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9cc3e2 0%, #89bde6 62%, rgba(135, 188, 230, 0.7) 68%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc3e2', endColorstr='#007db9e8',GradientType=0 ); }

div#example-menu {
  height: 120px; }

.headermenu {
  width: 100%;
  height: 120px; }

.row.title-bar {
  background: transparent; }

.footer, .footer-container {
  background: #0E3E71;
  padding: 10px; }

.row.footer-container {
  background: #0E3E71; }

.footerSocial {
  padding-top: 20px; }

.footermenu a, .footermenu p, .footerSocial p {
  color: white; }

.footermenu a, .footerSocial p {
  font-size: 12px; }

.footermenu p {
  font-size: 10px;
  margin-bottom: 0px; }

hr {
  margin-top: 0px;
  margin-left: 14px;
  margin-right: 14px;
  width: 100%; }

.columns.small-12.show-for-small-only {
  padding-bottom: 10px; }

ul#listMenuHeader {
  font-size: 12px; }

a::after {
  visibility: visible; }

#listMenuHeader, #menu-footer-1 {
  text-transform: uppercase; }

.row.footerSocial.show-for-small-only {
  padding-top: 0px; }

.headermenu a, .headermenu p {
  color: #0E3E71;
  font-weight: bold; }

.card-section {
  background: transparent;
  padding: 10px 20px 10px 20px; }

.card-section p {
  color: #767E8B; }

.card-section h5 {
  color: #0076E8;
  text-transform: uppercase;
  font-weight: bolder; }

#imageCard1 {
  padding-left: 20px; }

.small-12.medium-6.columns.card2-section {
  padding-left: 20px;
  padding-top: 20px; }

.card.columns {
  padding: 10px;
  border-color: transparent; }

button.hollow.button {
  color: #2691FB;
  border-color: #2691FB; }

#rata {
  max-height: auto;
  height: auto; }

.small-12.medium-6.columns.card2 {
  padding: 0px; }

.card2-section {
  background: transparent; }

.header-container {
  background: white; }

.card2-section p {
  color: #003E73; }

.card2-section h3 {
  color: #0076E8;
  font-weight: bolder; }

.card2-section h5 {
  color: #003E73;
  text-transform: uppercase;
  font-weight: bolder; }

.textSpecial {
  color: #003E73;
  text-transform: uppercase;
  font-weight: bolder;
  padding-bottom: 20px; }

#imagesBrand {
  padding: 20px; }

button.hollow.button.button2 {
  color: white;
  border-color: #2691FB; }

#menuListHeader {
  text-align: right;
  margin-top: 20px; }

ul.menu.headermenu {
  margin-top: 15px; }

#error-404Picture img {
  padding-top: 50px; }

#error-404Title p {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase; }

#error-404 p {
  color: white;
  font-size: 24px;
  font-weight: lighter; }

.img-circle {
  border-radius: 50%; }

#body404 {
  background: #15210a; }

/* Small only */
@media screen and (max-width: 350px) {
  #menuListHeader {
    text-align: right;
    margin-top: 10px; } }
/* Small only */
@media screen and (max-width: 39.9375em) {
  hr {
    margin-left: 0px; }

  #imgFacebookMobile img, #imgLogoFooter2Mobile img {
    height: 60px;
    width: auto; }

  div#imgLogoFooter2Mobile, div#imgFacebookMobile, #pFacebookMobile {
    text-align: center; }

  #menuFooterMobile {
    padding: 0px; } }
/* Medium and up */
@media screen and (min-width: 40em) {
  #imgHeader img {
    width: 150px;
    padding-top: 10px; } }
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #menuListHeader a {
    font-size: 12px; }

  #imgOrbit {
    content: src(); } }
/* Large and up */
/* Large only */

/*# sourceMappingURL=style.css.map */
